@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8b3030;
  --soft-bg: #fdfdfd;
  --muted-text: #64748b;
}

body {
  @apply bg-soft-bg text-slate-800 font-sans antialiased;
  min-height: max(884px, 100dvh);
}

.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(253, 253, 253, 0) 0%,
    rgba(253, 253, 253, 1) 100%
  );
}

.soft-blur {
  filter: blur(4px);
  transform: scale(1.05);
}

.alternate-list div:nth-child(even) {
  @apply flex-row-reverse;
}

/* Material Symbols scaling and alignment */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
